@use "../../variables" as *;

.Dashboard {
  background-color: $backgroundAccent;
  height: 73%;
  width: 72vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow-y: scroll;
  padding: 1rem;
  padding-top: 15vh;
  border-radius: 25px 25px 0 0;
  flex: 6;
  position: fixed;
  right: 20vw;
  bottom: 0;

  @media (max-width: $md-min) {
    width: 100%;
    padding: 0vw;
    padding-top: 100px;
    right: 0;
    justify-content: center;
    align-items: center;
  }
}

.createButton {
  position: fixed;
  top: 14vh;
  right: 20vw;
  margin-right: 50px;

  @media (max-width: $md-min) {
    top: 4vh;
    right: 4vw;
    margin-right: 40px;
  }
}
