@use "../../variables" as *;

$smallFontSize: 0.6rem;
$smallSize: 27px;
$marginTop: 20px;
$marginRight: 30px;

.ButtonContainer {
  display: flex;
  justify-content: center;
  background-color: $primaryColor;
  border-radius: 50px;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.2rem;
  color: $white;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  &.complete {
    background-color: $completeColor;
    width: $smallSize;
    height: $smallSize;
    font-size: $smallFontSize;
    margin-right: $marginRight;
    margin-top: $marginTop;
  }

  &.inProgress {
    background-color: $inProgressColor;
    width: $smallSize;
    height: $smallSize;
    font-size: $smallFontSize;
    margin-right: $marginRight;
    margin-top: $marginTop;
  }

  &.notStarted {
    background-color: $notStartedColor;
    width: $smallSize;
    height: $smallSize;
    font-size: $smallFontSize;
    margin-right: $marginRight;
    margin-top: $marginTop;
  }

  @media (max-width: $md-min) {
    width: 40px;
    height: 40px;
    font-size: 1rem;
    margin-right: 20px;
    margin-top: 0px;

    &.complete,
    &.inProgress,
    &.notStarted {
      width: 35px;
      height: 35px;
      font-size: 0.6rem;
      margin-right: 0px;
      margin-top: 10px;
    }
  }
}
