@use "../../variables" as *;

.Analytics {
  background-color: $backgroundAccent;
  height: 73%;
  width: 72vw;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 1vw;
  border-radius: 25px 25px 0 0;
  position: fixed;
  right: 20vw;
  bottom: 0;

  @media (max-width: $md-min) {
    width: 100%;
    // padding: 3vw;
    padding-top: 100px;
    right: 0;
    // justify-content: center;
    align-items: center;
  }
}
